html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(248, 244, 244);
    margin: 0px auto;
    padding: 2em;
    height: 100%;
    width: 100%;
}

div {
    margin-bottom: 20px;
}

h1 {
    font-size: 25px;
    padding: 10px;
    width: 50%;
    font-family: normal normal normal 25px/30px Montserrat;
    font-family: Montserrat;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

h2 {
    top: 16px;
    left: 212px;
    width: 126px;
    height: 29px;
    font-family: normal normal 600 21px/31px Poppins;
    font-family: Poppins;
    font-size: 155%;
    text-align: center;
    width: 35%;
}

h4 {
    font-weight: bold;
    padding-top: 2%;
}


.header-content{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: #446DFF;
    color: white;

}


.head {
    text-align: center;
    width: 59%;
    font: normal normal medium 15px/19px Montserrat;
    font-family: Montserrat;
    font-size: 17px;
    letter-spacing: 0px;
    padding-top: 30px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 6%;
}

h1 {
    font-size: 30px;
    padding: 10px;
    width:50%;
    font: normal normal normal 25px/30px Montserrat;
    font-family: Montserrat;
    font-weight: 10;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 12%;
}


h4 {
    font-weight: bold;
    padding-top: 2%;
}

.From-To {
    margin-left: 31.5%;
    font-display: flex;
    word-spacing: 280px;
    font-size: 14px;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.62;
}
.main-content{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100% - 200px);
    width: 100%;
    background-color: lemonchiffon;
}

.button {
    display: flex;
    padding: 10px;
}



.scalebutton {
    top: 224px;
    left: 385px;
    width: 173px;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 0.2;
    align-items: center;
    margin-left: 31.5%;
    margin-right: 30px;
    margin-bottom: 25px;
}

.active1, .scalebutton:hover {
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0EC098;
    border-radius: 7px;
    opacity: 1;
}

.tempbutton {
    top: 224px;
    left: 385px;
    width: 173px;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 0.2;
    margin-right: 30px;
}
.active2, .tempbutton:hover {
    background: #f5c9cd 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
    border-radius: 7px;
    opacity: 1;
}

.volumebutton {
    top: 224px;
    left: 385px;
    width: 173px;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 0.2;
    margin-right: 30px;
}
.active3, .volumebutton:hover {
    background: #d9ccf1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7224FF;
    border-radius: 7px;
    opacity: 1;
}

a:link {
    text-decoration: none;
}
.length-text {
    font: normal normal bold 15px/19px Montserrat;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #0EC098;
    text-transform: capitalize;
    opacity: 1;
}

.temp-text {
    font: normal normal bold 15px/19px Montserrat;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #FD5160;
    text-transform: capitalize;
    opacity: 1;
}

.vol-text {
    font: normal normal bold 15px/19px Montserrat;
    font-family: Montserrat;
    letter-spacing: 0px;
    color: #7224FF;
    font-weight: bold;
    text-transform: capitalize;
    opacity: 1;
}

input{
    height: 60px;
    width: 280px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E7DCFE;
    border-radius: 3px;
    font-family: normal normal bold 15px/19px Montserrat;
    font-family: Montserrat;
    font-weight: bold;
    opacity: 1;
    margin-left: 25px;

}

#input{
    margin-left: 31.5%;
}

#inputType {
    width: 285px;
    height: 50px;
    border: 1px solid #E7DCFE;
    font-family: normal normal bold 15px/19px Montserrat;
    font-family: Montserrat;
    margin-left: 31.5%;
}

#resultType {
    width: 285px;
    height: 50px;
    border: 1px solid #E7DCFE;
    font-family: normal normal bold 15px/19px Montserrat;
    font-family: Montserrat;
    margin-left: 25px;
}

@media only screen and (min-width: 320px){

}